.hero
    &_bg
        background: url(../img/home/Rolling-Homes-9.jpg) no-repeat center / cover
        padding: 200px 0
    &_block
        background: rgba(white, 0.5)
        text-align: center
        border-radius: 50px
    &_title
        font-size: 70px
        color: black
    &_about
        font-size: 25px
        padding-top: 30px
        color: #000
    &_slogan
        font-size: 25px
        padding-top: 10px
        color: #000